
body {
    display: block;
    height: 100%;
    margin: 0;
    background-image: url('../images/mirrored_squares_@2X.png');
}
.top {
    min-height: 100%;
    margin-bottom: -50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #fff;
    height: 80px;
    border-bottom: solid #000000a9 1.2px;
}
.name {
    background: #4aaaa5;
    height: 60px;
    margin-right: 720px;
    text-align: center;
    line-height: 40px;
    font-size: 36px;
    padding-top: 20px;
}
.area {
    display: block;
    margin: auto;
    width: 960px;
    color: #fff;
}
.box {
    overflow: auto;
    background: #fff;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 100%;
}
.title {
    color: #4aaaa5;
    font-size: 36px;
    padding: 15px;
    border-bottom: solid #3d3b3b5e 1.5px;
}
.wrap { 
    float: left;
    margin: 20px 20px 20px 0px;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    text-align: justify;
}
.sline {
    line-height: 40px;
}
.clearing {
    clear: both;
}
.mylinks {
    display: block;
    float: right;
    margin-right: 150px;
    margin-top: 50px;    
}
.link-img {
    color: white;
    font-size: 25px;
}
/* a:hover {
    font-style: italic;
} */
#text {
    width: 100%;
    height: 20px;
}
#msg {
    
    width: 100%
}
.card-deck{
    margin-left: 50px;
}
.card-text{
    text-align: center;
    font-size: 20px;
    
}
.work {
    position: relative;
    float: left;
    width: 274px;
    margin: 30px 15px 15px 15px;
    overflow: auto;
  }
  
  /* .work:nth-child(even) {
    margin-right: 30px;
  } */
  
  .work  img{
    width: 100%;
    border: 0 none;
    opacity: 0.8;
  }
  .img-size{
      width: 350px;
      height: 350px;
  }
  .work h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    /* padding: 10px; */
    margin-bottom: 0;
    margin-right: 10px;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
  }
  
.btn {
    background-color: #4aaaa5;
    width: 10%;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.bot {
    background-color: #666666;
    height: 30px;
    border-top: 8px solid #4aaaa5;
    text-align: center;
    font-size: 10px;
    line-height: 40px;
    color: #fff;    
}
.marg {
    padding: 15px;
}
/* img:hover {
    height: 350px;
    width: 300px;
}  */
h2{
    background-color: #4aaaa5;
    color: #fff;
}
