body {
    display: block;
    margin: auto;
    background-image: url('../images/mirrored_squares_@2X.png');
}
.top {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #fff;
    height: 80px;
    border-bottom: solid #000000a9 1.2px;
}
.name {
    background: #4aaaa5;
    height: 60px;
    margin-right: 720px;
    text-align: center;
    line-height: 40px;
    font-size: 36px;
    padding-top: 20px;
}
.area {
    display: block;
    margin: auto;
    width: 960px;
    color: #fff;
}
.box {
    background: #fff;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 500px;
}
.title {
    color: #4aaaa5;
    font-size: 36px;
    padding: 15px;
    border-bottom: solid #3d3b3b5e 1.5px;
}
.wrap { 
    float: left;
    margin: 0px 20px 20px 0px;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    line-height: 40px;
    text-align: justify;
}
.clearing {
    clear: both;
}
.mylinks {
    display: block;
    margin: auto;
    float: right;
    width: 960px;
}
a {
    float: right;
    /* margin-top: 30px; */
}